@media (min-aspect-ratio: 16/9) {
     :root {
        --main-width: 90vw;
        --main-height: 80vh;
        --display-type: flex;
        --img-height: 40vh;
    }
    #MainContainer {
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height: var(--main-height);
        width: var(--main-width);
    }
    #MainContainer>div {
        display: var(--display-type);
        justify-content: center;
    }
    img {
        width: 40vw;
        height: var(--img-height);
    }
}

@media (max-aspect-ratio: 16/9) {
    #MainContainer {
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: var(--main-height);
        width: var(--main-width);
    }
    #MainContainer>div {
        display: flex;
        justify-content: center;
    }
    img {
        width: 90%;
        height: var(--img-height);
    }
}