<aside color="white">
    <input type="text" #input_search placeholder="szukaj" size="10" id="search_input" (keydown.enter)="inputHandle(input_search)" />

    <p *ngFor="let offer of offers" class="aside_items" onEnter="handleClick(offer.second())">{{offer.second()}}</p>
</aside>


<div class="offer">
    <div *ngIf="IfDisplay; else elseBlock">
        <div *ngFor="let offer of offers">
            <div (click)="handleClick(offer.second())">
                <img src={{offer.first()}}/>
                <p>{{offer.second()}}</p>
            </div>
        </div>

    </div>
    <ng-template #elseBlock><br> <br></ng-template>


    <button (click)="toogleVisibility()">{{service.aha()}}</button>
    <br>
</div>