.offer {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Monospace';
}

div>div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
}

div>div>div {
    /* justify-content: center; */
    /* margin-left: 10%; */
    width: 30%;
    height: 40%;
}

div>div>div>div {
    align-items: center;
    justify-content: center;
    color: burlywood;
    width: 100%;
    height: 40%;
}

div>div>div:hover {
    filter: brightness(110%);
    transition: all 0.3s ease;
}

@keyframes item-hovered {
    from {
        width: 90%;
        height: 20%;
    }
    to {
        width: 95%;
        height: 25%;
    }
}

@keyframes item-not-hovered {
    from {
        width: 95%;
        height: 25%;
    }
    to {
        width: 90%;
        height: 20%;
    }
}

div>div>div>div>img:hover {
    cursor: pointer;
    animation: item-hovered 0.25s;
    animation-fill-mode: forwards;
}

div>div>div>div>p:hover {
    cursor: pointer;
    /* border-bottom: 2px solid #2f353d;
    transition: all 0.3s ease; */
}

img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /* flex: 100%; */
    height: 20%;
    animation: item-not-hovered 0.25s;
    animation-fill-mode: forwards;
}

aside {
    float: left;
    height: 100em;
    width: 9em;
    background-color: white;
    color: black;
    box-shadow: 0 0 1em black;
    padding: 1em;
    border-radius: 1em;
}

.aside_items {
    filter: brightness(120%);
    transition: all 0.3s ease;
    color: black;
    border-bottom: 1px black solid;
}

.aside_items:hover {
    color: gray;
    cursor: pointer;
    transition: all 0.5s ease;
}