@media (min-aspect-ratio: 16/9) {
     :host {
        --main-width: 80vw;
        --main-height: 80vh;
        --display-type: flex;
        --img-width: 60%;
        --img-height: 60%;
    }
    #MainContainer {
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: var(--main-width);
        min-height: var(--main-height);
        height: auto;
    }
    #MainContainer>div {
        display: var(--display-type);
        flex-direction: column;
        align-items: center;
        margin-bottom: 1%;
        flex-basis: 50%;
        width: 40vw;
        height: auto;
    }
    #MainContainer>div>div {
        width: var(--img-width);
        height: var(--img-height);
    }
    #MainContainer>div:nth-child(even)>div {
        margin-right: 20%;
    }
    #MainContainer>div:nth-child(odd)>div {
        margin-left: 20%;
    }
    #MainContainer>div>div>img {
        height: 80%;
        width: 80%;
    }
    img:hover {
        border-radius: 10px/10px;
        cursor: pointer;
    }
}

@media (max-aspect-ratio: 16/9) {
     :host {
        --main-width: 90vw;
        --main-height: 80vh;
        --display-type: flex;
        --img-height: 40vh;
    }
    #MainContainer {
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: var(--main-width);
        min-height: var(--main-height);
        height: auto;
    }
    #MainContainer>div {
        display: flex;
        justify-content: center;
    }
    img {
        width: 40vw;
        height: 40vh;
        flex-basis: 100%;
        zoom: 125%;
    }
    img:hover {
        border-radius: 10px/10px;
    }
}

.scaleMe {
    transition: 1s linear;
    transform: scale(2)
    /* transform: translate(50%, 50%); */
}