/* app-nav {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */


/* @media (prefers-color-scheme: dark) {
    #navDiv {
        background-color: black;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    #navDiv {
        background-color: white;
        color: black;
    }
} */

#navDiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 13vh;
    border-bottom: 1px solid black;
}

header {
    text-align: center;
    font-size: 2em;
}

nav {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}

nav>div:nth-of-type(1) {
    border-left: 1px dotted black;
    border-right: 1px dotted black;
}

nav>div {
    border-right: 1px dotted black;
}

nav>div>a {
    text-decoration: none;
}

nav>div>a:hover {
    text-decoration: underline;
}